<div class="footer">
    <div class="container">
        <div class="d-md-flex justify-content-between">
            <div class="mb-2">
                <h5>ABOUT PRO PLUS REAL ESTATE</h5>
                <p>We are the number one stop in the region for selling real estate. <br> We’ve been serving the area
                    for more than 20 years, and we do it with pride.</p>
                <div class="d-flex gap-3 mt-3">
                    <a href="https://www.facebook.com/ProplusRealestateCayman" target="_blank">
                        <span class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i> </span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCWOsE8EJNrc8xrygvnhHAhA" target="_blank">
                        <span class="social-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i> </span>
                    </a>
                    <a href="mailto:info@proplusrealestate.com">
                        <span class="social-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i> </span>
                    </a>
                </div>
            </div>
            <div class="mb-2">
                <h5>LOCATION</h5>
                <p>Unit 2A, Landmark Square</p>
                <p>George Town</p>
                <p>Cayman Islands</p>
            </div>
            <div class="mb-2">
                <h5>CONTACT US</h5>
                <p>1 345 923 0730</p>
                <p>admin@proplusrealestate.com</p>
            </div>
        </div>
    </div>
</div>