<div class="why-cayman-home">
    <div class="container">
        <div class="p-sm-5 p-2">
            <div class="row">
                <div class="col-12 col-sm-6 pb-2">
                    <img [src]="image" class="img-fluid">
                </div>
                <div class="col-12 col-sm-6">
                    <h3><i>Why do you invest in Cayman Islands </i></h3>
                    <h5><i>7 REASONS TO INVEST IN CAYMAN ISLANDS ?</i></h5>
                    <ul class="mb-3">
                        <li>1. Home to some of the world's best beaches, including Seven Mile Beach.</li>
                        <li>2. Successful offshore financial centre with tax-free status: no inheritance tax, income
                            tax, property tax or capital gains tax.</li>
                        <li>3. Extremely safe with sophisticated infrastructure.</li>
                        <li>4. One of the Caribbean's best diving destinations with 300 dive sites.</li>
                        <li>5. Growing luxury real estate market geared towards the top end of the market.</li>
                        <li>6. Prosperous economy offering one of the highest standards of living in the world.</li>
                        <li>7. Easily accessible, with one hour direct flights from Florida and other world
                            destinations.
                        </li>
                    </ul>
                    <button class="btn btn-primary theme-btn" routerLink="/">LEARN MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>