<div class="client-says-home">
    <div class="container text-center">
        <h3>OUR CLIENT SAYS</h3>
        <div class="highlight-line"></div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="../../../../../assets/images/clients/man_office_background-1920w.jpg"
                    class="img-fluid rounded-circle">
                <p>“I wanted an investment property . in few weeks I got the property that I wanted. Thanks to ProPlus
                    for your guidance”</p>
                <h5>Anthony Scotsman</h5>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="../../../../../assets/images/clients/man_glasses-1920w.jpg" class="img-fluid rounded-circle">
                <p>“Sam handled my purchase with great professionalism. It was a pleasure working with Proplus
                    realestate team.”</p>
                <h5>John Wendell</h5>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="../../../../../assets/images/clients/photo-1542131596-dea5384842c7-1920w.jpg"
                    class="img-fluid rounded-circle">
                <p>“ ProPlus did a great job helping me find exactly what I was looking for in a home. Organized,
                    knowledgeable and friendly.”</p>
                <h5>Vivienne Smith</h5>
            </div>
        </div>
    </div>
</div>