<div class="about-home">
    <app-page-header [image]="image" [blogHeight]="'400px'" [template]="aboutBlogHeader"></app-page-header>

    <div class="container">
        <div class="about-section">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h4>OUR STORY</h4>
                    <p>We specialise in finding the perfect homes/investment properties for our clients. We have been
                        serving
                        the community for over 20 years in Cayman Islands. We treat every purchase with respect it
                        deserves,
                        ensuring that the price negotiated is fair for all parties.
                    </p>
                    <p>
                        When you work with us, you work with a team that has your best interests in mind. Each and every
                        agent
                        that joins our teams is professional, dedicated and has your very best interests in mind.
                    </p>
                    <h4>OUR MISSION</h4>
                    <p>To deliver a relaxed and refined buying and selling experience. We stand out from the rest with
                        our
                        standards of integrity, expertise and sophistication.</p>
                </div>
                <div class="col-12 col-sm-6">
                    <iframe frameborder="0" allowfullscreen="0" controls="0" width="100%"
                        height="360" src="https://www.youtube.com/embed/lVWQUmrt5TM?autoplay=1&mute=1&controls=0&&loop=1&playlist=lVWQUmrt5TM" allow='autoplay'></iframe>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #aboutBlogHeader>
    <div class="text-center">
        <h2 class="text-white">ABOUT US</h2>
        <p class="theme-clr">The Best Real Estate in Cayman Islands </p>
        <div class="highlight-line"></div>
    </div>
</ng-template>